{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <span style="padding-left:500px;"></span><a href="{% url 'profiles' user.id  %}">My Profile</a>
    <span style="padding-left:100px;"></span><a href="{% url 'explore' %}">Explore</a>
    <span style="padding-left:100px;"></span><a href="{% url 'logout' %}">Log Out</a>

<h1>{{usertoshow.first_name}} {{usertoshow.last_name}} (@{{usertoshow.username}})</h1>
<p>Profile last updated: {{datetime}}</p>
{% ifequal usertoshow.id user.id %}
<a href="{% url 'update' user.id  %}">Update Now</a>
{% endifequal %}
<b></p>Followers {{usertoshow.profile.Followers}}<p></p></b>
{% for item in repostoshow %}
</p>♦{{item.name}} - {{item.star_count}} stars<p></p>


{% endfor %}
{% endif %}
{% endblock %}